[submodule "examples"]
	path = examples
	url = https://github.com/kubeflow/examples.git
[submodule "pytorch-operator"]
	path = pytorch-operator
	url = https://github.com/kubeflow/pytorch-operator.git
[submodule "intro-to-ml-with-kubeflow-examples"]
	path = intro-to-ml-with-kubeflow-examples
	url = https://github.com/YADET/intro-to-ml-with-kubeflow-examples.git
[submodule "stores-rest-api"]
	path = stores-rest-api
	url = https://github.com/schoolofcode-me/stores-rest-api.git
[submodule "model-analysis"]
	path = model-analysis
	url = https://github.com/tensorflow/model-analysis.git
[submodule "Spark-Scala-Maven-Example"]
	path = Spark-Scala-Maven-Example
	url = https://github.com/martinprobson/Spark-Scala-Maven-Example.git
[submodule "flink-training-exercises"]
	path = flink-training-exercises
	url = https://github.com/ververica/flink-training-exercises.git
[submodule "uwsgi-nginx-flask-docker"]
	path = uwsgi-nginx-flask-docker
	url = https://github.com/tiangolo/uwsgi-nginx-flask-docker.git
